<div class="row  m-2">
    <div class="col-6 offset-6">
        <div class="row justify-content-end text-white">
        <blockquote class=" bg-primary rounded">
            <p class="text-muted text-center p-2"><%= @message.content %></p>
        </blockquote>
        </div>      
    </div>
</div>    