<div class="row align-items-center m-2">
    <div class="col-6 offset-6">
        <div class="row justify-content-center text-white">
        <blockquote class=" blockquote-2 bg-primary">
            <p class="text-muted"><%= @message.content %></p>
        </blockquote>
        </div>      
    </div>
</div>    