<div class="row align-items-center m-2">
    <% user = message.user %>
    <% if user == @other_user %>
    <div class="col-6">
        <div class="row justify-content-center text-black">
        <blockquote class=" blockquote-2 bg-light">
            <p class="text-muted"><%= message.content %></p>
        </blockquote>
        </div>
    </div>
    <% else %>
    <div class="col-6 offset-6">
        <div class="row justify-content-center text-white">
        <blockquote class=" blockquote-2 bg-primary">
            <p class="text-muted"><%= message.content %></p>
        </blockquote>
        </div>      
    </div>
    <% end %>
</div>    