
 
  
    
 
<!-- cover -->
    <section class="p-0">
       <div class="container text-center">
    <img class="logo-responsive h-20 w-20" src="../assets/logo/logo.png" alt="Logo">
     </div>
      <div class="swiper-container swiper-container-half text-white"
        data-top-top="transform: translateY(0px);" 
        data-top-bottom="transform: translateY(250px);">
        <div class="swiper-wrapper">
          <div class="swiper-slide vh-100">
            <div class="image image-overlay" style="background-image:url(../assets/img/4FriendsTopCity3.jpg)"></div>
            <div class="caption">
              <div class="container">
                <div class="row justify-content-center vh-100">
                  <div class="col-md-8 align-self-center text-center">
                    <h1 data-swiper-parallax="-100%" class="display-2"><b>Welcome</b>To Mif.</h1>
              
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col text-center">
                  <div class="mouse"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / cover -->


 <!-- presentation -->
    <section>
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-5 pr-md-4">
            <img src="../assets/illustration/nomad.png" alt="Image">
          </div>
          <div class="col-md-5 pl-md-10 text-center text-primary">
            <h2>Chat with Miffers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum tempora totam omnis corporis voluptatibus necessitatibus eum quod maxime labore aliquam?</p>
            <a href="" class="btn btn-outline-primary btn-rounded">Go</a>

          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-md-5 pr-md-10 text-center  text-primary">
            <h2>Go to city of your dream.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="" class="btn btn-outline-primary btn-rounded">Go</a>

          </div>
          <div class="col-md-6 pr-md-5">
            <img src="../assets/illustration/london.png" alt="Image">
          </div>
        </div>
      </div>
    </section>
    <!-- / presentation -->
