<br>
<br>
<br>
<br>
<br>
<% @received_comments.each do |c| %>
  <div class="boxed p-2 mb-1">
    <div class="row align-items-center justify-content-between">
      <div class="col-10">
        <div class="media align-items-center">
          <%if c.author.avatar.attached?%>
            <%=image_tag(c.author.avatar, :alt => "avatar", class: "avatar avatar-lg rounded mr-3")%>
          <%else%>
            <%= image_tag("img/user-1.jpg", :alt => "avatar", class: "avatar avatar-lg rounded mr-3") %>
          <%end%>
          <div class="media-body">
            <h5 class="mb-0"><%= c.author.name %></h5>
          </div>
        </div>
      </div>
      <div class="col-2 text-md-right"> 
        <p>c.content</p> 
      </div>
    </div>
  </div>
<% end %>