<%= link_to conversation_messages_path(@conversation), remote: true, class: "user-photo"  do %>
    <div class="row align-items-center m-2">
        <%if @receiver.avatar.attached?%>
        <%=image_tag(@receiver.avatar, :alt => "avatar", class: "avatar avatar-sm rounded mr-3")%>
        <%else%>
        <%= image_tag("img/user-1.jpg", :alt => "avatar", class: "avatar avatar-sm rounded mr-3") %>
        <%end%>
        <div class="">
            <h6 class="mb-0"><%= @receiver.name %></h6>
        </div>
    </div>    
<% end %>        
