<div class="row justify-content-center">
	<div class="col-md-10 col-lg-8">
		<!-- post -->
		<div class="row mb-1">
			<div class="col">
				<article class="card">
					<div class="card-header text-center">
						<h2><%= @user.first_name %>'s diaporama</h2>
					</div>
					<div class="card-body overflow-hidden">
						<div class="owl-carousel gallery visible" data-items="[2,2]" data-margin="10" data-nav="true">
							<figure class="photo">
								<a href="/assets/cities/barcelone.jpg" title="Image title">
									<img src="/assets/cities/barcelone.jpg" alt="Image">
								</a>
							</figure>
							<figure class="photo">
								<a href="/assets/cities/london.jpg" title="Image title">
									<img src="/assets/cities/london.jpg" alt="Image">
								</a>
							</figure>
							<figure class="photo">
								<a href="/assets/cities/paris.jpg" title="Image title">
									<img src="/assets/cities/paris.jpg" alt="Image">
								</a>
							</figure>
						</div>
					</div>
				</article>
			</div>
		</div>
		<!-- / post -->


		<div class="row mb-1">
			<div class="col">
				<article class="card">
					<div class="card-header text-center">
							<h2><%= @user.first_name%>'s description</h2>
					</div>
					<div class="card-body overflow-hidden">
						<h3 class="text-decorated text-decorated--paddin"><%= @user.description %></h3>
					</div>
				</article>
			</div>
		</div>

	</div>
</div>
