<div class="row justify-content-center">
	<div class="col-md-10 col-lg-8">
		<!-- post -->
    <div class="container">
      <label>Pictures</label>
      <div class="row mb-2 ">
        <div class="col">
          <article class="card">
            <div class="card-body overflow-hidden">
              <%if @user.pictures.attached?%>
                <div class="owl-carousel gallery visible" data-items="[2,2]" data-margin="10" data-nav="true">
                  <%(0...@user.pictures.count).each do |pic|%>
                    <figure class="photo">
                        <%= image_tag @user.pictures[pic], :alt => "Image",:style => "height: 250px"%>
                    </figure>
                  <% end %>
                </div>
              <% end %>
            </div>
          </article>
        </div>
      </div>
    </div>		<!-- / post -->

		<div class="container">
			<label>Description</label>
			<article class="card">
				<div class="mb-1 mt-1 p-2">
					<%= @user.description %>
				</div>
			</article>
		</div>

    <div class="container">
			<label>Languages spoken</label>
      <div>
        <% @user.languages.each do |l| %>
          <%= image_tag l.icon, alt: l.language%>
        <% end %>
      </div>
		</div>



	</div>
</div>
