<div class="col-6 col-md-4 col-lg-3">
    <div class="equal">
        <div class="boxed bg-primary text-white">
            <div class="equal-header">
                <b class="h2"><%= @correspondances.count %></b>
            </div>
            <div class="equal-footer">
                <span class="text-muted">Correspondances</span>
            </div>
        </div>
    </div>
</div>
