<div class="bg-light pt-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="row gutter-1 mb-2">
          <%= render "stat" %>
          <div class="col-6 col-md-4 col-lg-3">
            <div class="equal">
              <div class="boxed bg-primary text-white">
                <div class="equal-header">
                  <b class="h2"><%= @correspondances.count %></b>
                </div>
                <div class="equal-footer">
                  <span class="text-muted">Correspondances</span>
                </div>
              </div>
            </div>
            </div>
          <div class="col-6 col-md-4 col-lg-3">
            <div class="equal">
              <div class="boxed">
                <div class="equal-header">
                  <b class="h2">14</b>
                </div>
                <div class="equal-footer">
                  <span class="text-muted">likes</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <div class="equal">
              <div class="boxed">
                <div class="equal-header">
                  <b class="h2">9</b>
                </div>
                <div class="equal-footer">
                  <span class="text-muted">articles</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <div class="equal">
              <div class="boxed">
                <div class="equal-header">
                  <b class="h2">119</b>
                </div>
                <div class="equal-footer">
                  <span class="text-muted">following</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
