<div class="viewport">
      <div class="image image-overlay image-blur" style="background-image:url(/assets/img/picnic.jpg)"></div>
      <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-md-6 col-lg-4 text-white text-center">
            <h1 class="error-text">404</h1>
            <p>The page you were looking for wasn't found.<p>
          </div>
        </div>
      </div>
    </div>
