stylesheet_link_tag "home"
<div class="row gutter-0">
  <div class="col-md-4">
    <div class="bordered rising text-center">
    <i class="fas fa-user-friends"></i>
      <h2>Find a mate</h2>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bordered rising text-center">
    <h2>Chat a bit</h2>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bordered rising text-center">
    <h2>Go discover the world</h2>
    </div>
  </div>
</div>