 <!-- cover -->
    <section class="p-0">
      <div class="swiper-container text-white"
        data-top-top="transform: translateY(0px);"
        data-top-bottom="transform: translateY(250px);">
        <div class="swiper-wrapper">
          <div class="swiper-slide vh-100">
            <div class="image image-overlay image-zoom" style="background-image:url(/assets/img/picnic.jpg)"></div>
            <div class="caption" data-aos="fade-up">
              <div class="container">
                <div class="row align-items-center vh-100">
                  <div class="col-lg-10" data-swiper-parallax-y="-100%">
                    <h1 class="display-1">We deliver <br><i class="font-weight-bold" id="typed"></i></h1>
                    <div id="typed-strings">
                        <p>creativity.</p>
                        <p>awesomeness.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-footer mb-5">
            <div class="container">
              <div class="row align-items-center">
                <div class="col text-center">
                  <div class="mouse"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / cover -->



    <!-- presentation -->
    <section>
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-12 col-lg-8">
            <div class="row">
              <div class="col-lg-10">
                <h2>We believe that clean and functional design are the key to a effective user <b>friendly interface.</b></h2>
              </div>
            </div>
            <div class="row gutter-0">
              <div class="col-sm-6 col-lg-4" data-aos="fade-up">
                <div class="bordered rising p-3 bg-white">
                  <i class="icon-basic_clockwise text-primary fs-50 mb-2"></i>
                  <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
                <div class="bordered rising p-3 bg-white">
                  <i class="icon-basic_globe text-primary fs-50 mb-2"></i>
                  <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="bordered rising p-3 bg-white">
                  <i class="icon-basic_lightbulb text-primary fs-50 mb-2"></i>
                  <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 col-lg-3 presentation presentation-responsive" data-aos="zoom-in-left">
            <img class="top-0" src="../../assets/images/demo/stock/studio.png" alt="Decoration">
          </div>
        </div>
      </div>
    </section>
    <!-- / presentation -->



    <!-- project carousel -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h2>Our projects.</h2>
          </div>
          <div class="col-lg-6">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime harum ut ullam!</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row" data-aos="fade-left">
          <div class="col-12">
            <div class="swiper-container swiper-container-carousel">
              <div class="swiper-wrapper">
                <div class="swiper-slide bg-dark">
                  <div class="image image-gradient-horizontal-light" style="background-image:url(../../assets/images/demo/studio/studio-2.jpg)"></div>
                  <div class="caption" data-swiper-parallax-y="-100%">
                    <div class="container">
                      <div class="row align-items-end vh-75">
                        <div class="col-md-5 text-white" data-aos="fade-up">
                          <span class="eyebrow mb-2">Design</span>
                          <h2>Design Journal Blog Template</h2>
                          <a href="" class="btn btn-with-ico btn-outline-white mt-2">Read More <i class="icon-arrow-right2 fs-20"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide bg-dark">
                  <div class="image image-gradient-horizontal-light" style="background-image:url(../../assets/images/demo/studio/studio-3.jpg)"></div>
                  <div class="caption" data-swiper-parallax-y="-100%">
                    <div class="container">
                      <div class="row align-items-end vh-75">
                        <div class="col-md-5 text-white" data-aos="fade-up">
                          <span class="eyebrow mb-2">Design</span>
                          <h2>Design Journal Blog Template</h2>
                          <a href="" class="btn btn-with-ico btn-outline-white mt-2">Read More <i class="icon-arrow-right2 fs-20"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide bg-dark">
                  <div class="image image-gradient-horizontal-light" style="background-image:url(../../assets/images/demo/studio/studio-4.jpg)"></div>
                  <div class="caption" data-swiper-parallax-y="-100%">
                    <div class="container">
                      <div class="row align-items-end vh-75">
                        <div class="col-md-5 text-white" data-aos="fade-up">
                          <span class="eyebrow mb-2">Design</span>
                          <h2>Design Journal Blog Template</h2>
                          <a href="" class="btn btn-with-ico btn-outline-white mt-2">Read More <i class="icon-arrow-right2 fs-20"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / project carousel -->



    <!-- blog -->
    <section class="bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-white text-center">
            <h2>See our <b>case studies.</b></h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul class="masonry row gutter-1">
              <li class="col-md-4" data-aos="fade-up">
                <article class="tile">
                  <div class="tile-image" style="background-image: url(../../assets/images/demo/image-1.jpg)"></div>
                  <a href="" class="tile-content">
                    <div class="tile-footer">
                      <span class="eyebrow mb-1">Design</span>
                      <h3>Quick guide on traveling with friends.</h3>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-4" data-aos="fade-up">
                <article class="tile tile-long">
                  <div class="tile-image" style="background-image: url(../../assets/images/demo/image-6.jpg)"></div>
                  <a href="" class="tile-content">
                    <div class="tile-footer">
                      <span class="eyebrow mb-1">Design</span>
                      <h3>Quick guide on traveling with friends.</h3>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-4" data-aos="fade-up">
                <article class="tile">
                  <div class="tile-image" style="background-image: url(../../assets/images/demo/image-3.jpg)"></div>
                  <a href="" class="tile-content">
                    <div class="tile-footer">
                      <span class="eyebrow mb-1">Design</span>
                      <h3>Quick guide on traveling with friends.</h3>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-4" data-aos="fade-up">
                <article class="tile tile-long">
                  <div class="tile-image" style="background-image: url(../../assets/images/demo/image-4.jpg)"></div>
                  <a href="" class="tile-content">
                    <div class="tile-footer">
                      <span class="eyebrow mb-1">Design</span>
                      <h3>Quick guide on traveling with friends.</h3>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-4" data-aos="fade-up">
                <article class="tile tile-long">
                  <div class="tile-image" style="background-image: url(../../assets/images/demo/image-5.jpg)"></div>
                  <a href="" class="tile-content">
                    <div class="tile-footer">
                      <span class="eyebrow mb-1">Design</span>
                      <h3>Quick guide on traveling with friends.</h3>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-4" data-aos="fade-up">
                <article class="tile">
                  <div class="tile-image" style="background-image: url(../../assets/images/demo/image-2.jpg)"></div>
                  <a href="" class="tile-content">
                    <div class="tile-footer">
                      <span class="eyebrow mb-1">Design</span>
                      <h3>Quick guide on traveling with friends.</h3>
                    </div>
                  </a>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- / blog -->



    <!-- testimonials -->
    <section class="bg-dark text-white separator-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <h2>Kind Words</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="owl-carousel visible accent" data-dots="true" data-loop="true" data-margin="100" data-autoplay="true">
              <blockquote class="blockquote blockquote-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <footer class="blockquote-footer">
                  <div class="media align-items-center">
                    <img class="avatar user-rounded" src="../../assets/images/demo/user-1.jpg" alt="Avatar">
                    <div class="media-body ml-2">
                      <span class="d-block mb-0 text-white">Michael Doe</span>
                      <small>Google CEO</small>
                    </div>
                  </div>
                </footer>
              </blockquote>
              <blockquote class="blockquote blockquote-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <footer class="blockquote-footer">
                  <div class="media align-items-center">
                    <img class="avatar user-rounded" src="../../assets/images/demo/user-2.jpg" alt="Avatar">
                    <div class="media-body ml-2">
                      <span class="d-block mb-0 text-white">Michael Doe</span>
                      <small>Google CEO</small>
                    </div>
                  </div>
                </footer>
              </blockquote>
              <blockquote class="blockquote blockquote-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <footer class="blockquote-footer">
                  <div class="media align-items-center">
                    <img class="avatar user-rounded" src="../../assets/images/demo/user-3.jpg" alt="Avatar">
                    <div class="media-body ml-2">
                      <span class="d-block mb-0 text-white">Michael Doe</span>
                      <small>Google CEO</small>
                    </div>
                  </div>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / testimonial -->



    <!-- user grid -->
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-10">
                <span class="eyebrow mb-2 text-primary">Team</span>
                <h2 class="fs-24 fobt-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quidem harum sapiente dolorem explicabo animi quo.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ul class="user-grid gutter-1">
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-1.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-2.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-3.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-4.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-6.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-7.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-8.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-9.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure class="user">
                      <div class="user-photo expand">
                        <img src="../../assets/images/demo/user-10.jpg" alt="Avatar" >
                      </div>
                      <figcaption class="user-panel">
                        <div class="container">
                          <div class="row justify-content-between align-items-center">
                            <div class="col-lg-8">
                              <span class="eyebrow">Designer</span>
                              <h4 class="h2">Valerie Doe</h4>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis quos ex temporibus dicta laudantium natus quas consequatur doloribus earum, sit a dolor ipsum, officia illum suscipit neque, maxime in.</p>
                            </div>
                            <div class="col-lg-4 text-white text-lg-right">
                              <ul class="socials bordered">
                                <li><a href="" class="icon-facebook fs-20"></a></li>
                                <li><a href="" class="icon-instagram fs-20"></a></li>
                                <li><a href="" class="icon-twitter fs-20"></a></li>
                                <li><a href="" class="icon-linkedin fs-20"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <span class="collapse"></span>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <a href="" class="anchor rounded">
                      <span>
                        <i class="icon-arrow-right2"></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / user grid -->



    <!-- cta -->
    <section>
      <div class="image image-overlay image-scrolling" style="background-image:url(../../assets/images/demo/studio/studio-5.jpg)"
        data--100-bottom-top="transform: translateY(0%);"
        data-top-bottom="transform: translateY(25%);">
      </div>
      <div class="container">
        <div class="row gutter-2 justify-content-center">
          <div class="col-md-4" data-aos="zoom-in">
            <div class="card card-price-2 scaling">
              <div class="card-body">
                <strong class="card-price">$19</strong>
                <h4 class="card-title">Small Pack</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <hr class="ml-0 w-20">
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item"><span>Cras justo odio</span></li>
                  <li class="list-group-item"><span>Dapibus ac facilisis in</span></li>
                  <li class="list-group-item"><span>Morbi leo risus</span></li>
                </ul>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-lg btn-purple btn-block">Purchase</a>
              </div>
            </div>
          </div>
          <div class="col-md-4" data-aos="zoom-in">
            <div class="card card-price-2 scaling">
              <div class="card-body">
                <strong class="card-price">$49</strong>
                <h4 class="card-title">Medium Pack</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <hr class="ml-0 w-20">
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item"><span>Cras justo odio</span></li>
                  <li class="list-group-item"><span>Dapibus ac facilisis in</span></li>
                  <li class="list-group-item"><span>Morbi leo risus</span></li>
                </ul>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-lg btn-purple btn-block">Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / cta -->


