<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Single</title>
    <link rel="stylesheet" href="../../assets/css/vendor.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>

    <!-- header -->

    <!-- header -->

    <!-- cover -->
    <section class="p-0">
      <div class="swiper-container text-white"
        data-top-top="transform: translateY(0px);"
        data-top-bottom="transform: translateY(250px);">
        <div class="swiper-wrapper">
          <div class="swiper-slide vh-100">
            <div class="image image-overlay image-zoom" style="background-image:url('/assets/cities/paris.jpg');"></div>
            <div class="caption">
              <div class="container">
                <div class="row align-items-center vh-100">
                  <div class="col-md-8" data-swiper-parallax-y="-250%">
                    <span class="eyebrow mb-2">Travel</span>
                    <h1 class="display-2">Come Turn Up with your new penfriend in Paris</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-footer mb-5">
            <div class="container-fluid">
              <div class="row">
                <div class="col text-center">
                  <div class="mouse"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / cover -->



    <!-- right sidebar -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <ul class="masonry row gutter-2">
              <li class="col-md-6 col-lg-3">
                <article class="tile">
                  <div class="tile-image" style="background-image: url('/assets/cities/barcelone.jpg');"></div>
                  <a href="">
                    <div class="tile-header">
                      <h2 class="text-white" style="text-align: center">Barcelone</h2>
                      <h4 class="text-white" style="text-align: center">600 Miffers</h4>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-6 col-lg-3">
                <article class="tile tile-long">
                  <div class="tile-image" style="background-image: url('/assets/cities/berlin.jpg');"></div>
                  <a href="">
                    <div class="tile-header">
                      <h2 class="text-white" style="text-align: center">Berlin</h2>
                      <h4 class="text-white" style="text-align: center">600 Miffers</h4>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-6 col-lg-3">
                <article class="tile">
                  <div class="tile-image" style="background-image: url('/assets/cities/londres.jpg');"></div>
                  <a href="">
                    <div class="tile-header ">
                      <h2 class="text-white" style="text-align: center">Londres</h2>
                      <h4 class="text-white" style="text-align: center">600 Miffers</h4>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-6 col-lg-3">
                <article class="tile tile-long">
                  <div class="tile-image" style="background-image: url('/assets/cities/lisbonne.jpg');"></div>
                  <a href="">
                    <div class="tile-header">
                      <h2 class="text-white" style="text-align: center">Lisbonne</h2>
                      <h4 class="text-white" style="text-align: center">600 Miffers</h4>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-6 col-lg-3">
                <article class="tile tile-long">
                  <div class="tile-image" style="background-image: url('/assets/cities/londres.jpg');"></div>
                  <a class="wrapper" href="">
                    <div class="tile-header">
                      <h2 class="text-white" style="text-align: center">Londres</h2>
                      <h4 class="text-white" style="text-align: center">600 Miffers</h4>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-6 col-lg-3">
                <article class="tile tile-long">
                  <div class="tile-image" style="background-image: url('/assets/cities/prague.jpg');"></div>
                  <a href="">
                    <div class="tile-header">
                      <h2 class="text-white" style="text-align: center">Prague</h2>
                      <h4 class="text-white" style="text-align: center">600 Miffers</h4>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-6 col-lg-3">
                <article class="tile">
                  <div class="tile-image" style="background-image: url('/assets/cities/copenhague.jpg');"></div>
                  <a href="">
                    <div class="tile-header">
                      <h2 class="text-white" style="text-align: center">Copenhague</h2>
                      <h4 class="text-white" style="text-align: center">600 Miffers</h4>
                    </div>
                  </a>
                </article>
              </li>
              <li class="col-md-6 col-lg-3">
                <article class="tile">
                  <div class="tile-image" style="background-image: url('/assets/cities/budapest.jpg');"></div>
                  <a href="">
                    <div class="tile-header">
                      <h2 class="text-white" style="text-align: center">Budapest</h2>
                      <h4 class="text-white" style="text-align: center">600 Miffers</h4>
                    </div>
                  </a>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- / right sidebar -->


    <!-- news -->

    <!-- / news -->

    <!-- footer -->
    <footer class="bg-dark text-white">
      <div class="container py-5">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-5 text-center text-md-left">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Legal Information</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 text-center">
            <img class="logo-sm" src="../../assets/images/demo/logo/logo-light.svg" alt="Logo">
          </div>
          <div class="col-md-5 text-center text-md-right">
            <ul class="socials">
              <li><a href="" class="icon-facebook fs-20"></a></li>
              <li><a href="" class="icon-instagram fs-20"></a></li>
              <li><a href="" class="icon-twitter fs-20"></a></li>
              <li><a href="" class="icon-linkedin fs-20"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->



    <script src="../../assets/js/vendor.js"></script>
    <script src="../../assets/js/app.js"></script>
  </body>
</html>
