<!-- team -->
    <section class="bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <span class="eyebrow d-block mb-1 text-primary">Our Creative Team</span>
            <p class="lead text-black">Here is our team of shock, which allows you to travel around the world and meet your future new friends.</p>
          </div>
        </div>
        <div class="row gutter-0">
          <div class="col-md-4">
            <figure class="user">
              <a href="" class="user-photo">
             <img src="../assets/img/avatar/flo.png" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>Florent Bilocq</h4>
                <span>PDG</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../assets/img/avatar/jean.png" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>Jean Tirard</h4>
                <span>Web Designer</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../assets/img/avatar/thom.png" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>Thomas Feral</h4>
                <span>Assistant</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../assets/img/avatar/greg.png" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>Greg Dalmasso</h4>
                <span>Genius</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../assets/img/avatar/max.png" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>Maxence Kinger</h4>
                <span>Web Designer</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../assets/img/avatar/user-9.png" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>Julien Nguyen</h4>
                <span>Genius 2</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          
    </section>
    <!-- / team -->




    