<% if false %>
<section>
  <div class="container-fluid pt-2">
    <div class="row">
      <div class="col">
        <ul class="masonry row gutter-2">
          <% @city.users.each do |user|%>
          <li class="col-md-6 col-lg-2">
              <article class="tile">
                <div class="tile-image" style="background-color: grey;"></div>
                <%= link_to user_path(user.id) do%>
                <div class="tile-header">
                  <h2 class="text-black" style="text-align: center"><%= user.first_name %></h2>
                </div>
                <% end %>
            </article>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<% end %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Team</title>
    <link rel="stylesheet" href="../../assets/css/vendor.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>

    <!-- header -->

    <!-- header -->

    <!-- cover -->
    <section class="hero hero-with-header text-white"
      data-top-top="transform: translateY(0px);"
      data-top-bottom="transform: translateY(250px);">
      <div class="image image-overlay" style="background-image:url('<%=asset_path("cities/barcelone.jpg")%>');"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col text-shadow">
            <h1 class="mb-0">Barcelone</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- / cover -->

    <!-- team -->
    <section class="bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <span class="eyebrow d-block mb-1 text-primary">Our Creative Team</span>
            <p class="lead text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quidem harum sapiente dolorem explicabo animi quo.</p>
          </div>
        </div>
        <div class="row gutter-0">
          <div class="col-md-4">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-1.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-2.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-3.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-4.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-5.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-6.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-7.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="700">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-8.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- / team -->

    <!-- footer -->

    <!-- / footer -->


    <script src="../../assets/js/vendor.js"></script>
    <script src="../../assets/js/app.js"></script>
  </body>
</html>
