 <div class="col-md-3 text-right">
      <img class="logo-md" src="../assets/logo/logo.png" alt="Logo">
    </div>
 

 <!-- serrvices -->
    <section class="bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="row" data-aos="fade-up">
              <div class="col-md-8">
                <h2 class="text-uppercase font-weight-bold">A few hours away or just a flight</h2>
                <p class="lead">Travelers who live near your home like to relax here for a day or two. Explore these accommodations or discover all weekend destinations nearby.</p>
              </div>
            </div>
            <div class="row gutter-2">
              <div class="col-md-6" data-aos="fade-up">
                <div class="card rising">
                  <a href="" class="card-img-container">
                    <img class="card-img-top" src="../assets/cities/budapest.jpg" alt="Image">
                    <h5 class="card-footer card-title">Budapest</h5>
                  </a>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-outline-primary btn-rounded">Discover Now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-up">
                <div class="card rising">
                  <a href="" class="card-img-container">
                    <img class="card-img-top" src="../assets/cities/berlin.jpg" alt="Image">
                    <h5 class="card-footer card-title">Berlin</h5>
                  </a>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-outline-primary btn-rounded">Discover Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / services -->

     <!-- serrvices -->
    <section class="bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
           
            <div class="row gutter-2">
              <div class="col-md-6" data-aos="fade-up">
                <div class="card rising">
                  <a href="" class="card-img-container">
                    <img class="card-img-top" src="../assets/cities/london.jpg" alt="Image">
                    <h5 class="card-footer card-title">London</h5>
                  </a>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-outline-primary btn-rounded">Discover Now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-up">
                <div class="card rising">
                  <a href="" class="card-img-container">
                    <img class="card-img-top" src="../assets/cities/paris.jpg" alt="Image">
                    <h5 class="card-footer card-title">Paris</h5>
                  </a>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-outline-primary btn-rounded">Discover Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / services -->

    <!-- serrvices -->
    <section class="bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="row gutter-2">
              <div class="col-md-6" data-aos="fade-up">
                <div class="card rising">
                  <a href="" class="card-img-container">
                    <img class="card-img-top" src="../assets/cities/amsterdam.jpg" alt="Image">
                    <h5 class="card-footer card-title">Amsterdam</h5>
                  </a>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-outline-primary btn-rounded">Discover Now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-up">
                <div class="card rising">
                  <a href="" class="card-img-container">
                    <img class="card-img-top" src="../assets/cities/prague.jpg" alt="Image">
                    <h5 class="card-footer card-title">Prague</h5>
                  </a>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-outline-primary btn-rounded">Discover Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / services -->

 