 <footer class="bg-dark text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 text-center">
             <form class="form form-cta mt-3">
              <div class="form-group">
                <div class="row gutter-1">
                  <div class="col-md-8">
                    <input type="email" class="form-control form-control-rounded px-3" id="exampleInputEmail1" placeholder="Insert your email">
                  </div>
                  <div class="col-md-4">
                    <button type="submit" class="btn btn-white btn-rounded btn-block">Subscribe</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="separator-top">
        <div class="container py-5">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-5 text-center text-md-left">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Legal Information</a>
                </li>
              </ul>
            </div>
            <div class="col-md-2 text-center">
              <img class="logo-sm" src="../assets/logo/logo.png" alt="Logo">
            </div>
            <div class="col-md-5 text-center text-md-right">
              <ul class="socials">
                <li><a href="" class="icon-facebook fs-20"></a></li>
                <li><a href="" class="icon-instagram fs-20"></a></li>
                <li><a href="" class="icon-twitter fs-20"></a></li>
                <li><a href="" class="icon-linkedin fs-20"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->
