 <section class="bg-primary">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center text-white">
            <h2><b>Last</b> Step</h2>
            <p>More than a step to be able to travel across Europe with other miffers</p>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-md-6">
            <img src="../assets/illustration/profil.png" alt="Image">
          </div>
          <div class="col-md-5 text-white">
            <div class="accordion-group accordion-group-steps" data-accordion-group>
              <div class="accordion open" data-accordion>
                <div class="accordion-control" data-control>
                  <h5>Profil</h5>
                </div>
                <div class="accordion-content" data-content>
                  <div class="accordion-content-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore</p>
                  </div>
                </div>
              </div>
              <div class="accordion" data-accordion>
                <div class="accordion-control" data-control>
                  <h5>Hobbies</h5>
                </div>
                <div class="accordion-content" data-content>
                  <div class="accordion-content-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                  </div>
                </div>
              </div>
              <div class="accordion" data-accordion>
                <div class="accordion-control" data-control>
                  <h5>Paying Clients</h5>
                </div>
                <div class="accordion-content" data-content>
                  <div class="accordion-content-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <a href="" class="btn btn-orange btn-rounded text-white">Go</a>
          </div>
    </section>
   

   



