
  
    <div class="col-md-3 text-right">
      <img class="logo-md" src="../assets/logo/logo.png" alt="Logo">
    </div>
 

        <!-- photo -->
    <section>
      <div class="image image-overlay image-scrolling" style="background-image:url(../assets/illustration/london.png)"
      data--100-bottom-top="transform: translateY(0%);" 
      data-top-bottom="transform: translateY(25%);"></div>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8 col-lg-6 text-center text-white text-shadow">
            <span class="eyebrow mb-1"></span>
            <h2 class="display-4">Welcome To <b>MIF</b></h2>
           
          </div>
        </div>
      </div>
    </section>
    <!-- photo -->



    <!-- text -->
    <section class="bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 text-center">
            <h2>Welcome<b> User1 !</b></h2>
            <p>We are glad that you have joined the community, you only have a few steps before you can meet our miffers.You must comfimer your mail by  <a href="https://mif-project.herokuapp.com/">clicking here</a></p>
          </div>
        </div>
        <!-- text -->
    